<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>

<h1 class="titulo">Accede a tu itinerario</h1>
<div class="body">
    <div class="contenido">
        <form class="form-inline">
            <div class="form-group mb-2">
              <label for="]" class="sr-only">código de verficación</label>
              <input type="text" readonly class="form-control-plaintext" id="" value="Introduzca el código: ">
            </div>
            <div class="form-group mx-sm-3 mb-2 input">
              <label for="inputPassword" class="sr-only">código de verficación</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="código">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
          </form>
    </div>
    <div class="reservaciones">
        <div class="reserva">
            
        </div>
    </div>
</div>


<app-footer></app-footer>