.footer {
  background-color: #ff9f1c;
}
.botton {
  background-color: black;
  color: rgb(173, 173, 140);
}

.size {
  width: 30%;
  padding: 0px;
  margin: 0px;
}

.color {
  background-color: rgb(224, 228, 238);
}

@media screen and (max: 560px){
  .copyright{
    display: none;
  }
}
