.footer{
    margin-left: 6%;    
    background-color: rgb(244, 248, 248);
}
.botton{
    background-color: black;
    color: rgb(159, 160, 163);
}

.size{
    width: 30%;
    padding: 0px;
    margin: 0px;
    
}

.color{
    background-color: rgb(224, 228, 238);
}
