<!-- Sidebar  -->
<body class="scroll">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 class="title"><i class="fa fa-home img" aria-hidden="true"></i></h3>
    </div>

    <ul class="list-unstyled components">
      <li >
        <a
          routerLink="/admin/dashboard"
          (click)= 'setTitle("Admin: Dashboard")'
          data-toggle="collapse"
          aria-expanded="false"
          (click) = "aparecerGraficos()"
          ><i class="fa fa-home img" aria-hidden="true" ></i>Home</a
        >
      </li>
      <li>
        <a routerLink="/admin/dashboard"
        (click) = "aparecerGraficos()"
        (click)= 'setTitle("Admin: Dashboard")'
          ><i class="fa fa-bar-chart img" aria-hidden="true"></i>Dashboard</a
        >
      </li>
      <li  >
        <a routerLink="/admin/estados"
          (click)= 'setTitle("Admin: Estados")'

          ><i class="fa fa-map-pin img" aria-hidden="true"></i>Estados</a
        >
      </li>
      <li  >
        <a routerLink="/admin/ciudades"
          (click)= 'setTitle("Admin: Ciudades")'
          ><i class="fa fa-building-o img" aria-hidden="true"></i>Ciudades</a
        >
      </li>
      <li  >
        <a routerLink="/admin/destinos"
          (click)= 'setTitle("Admin: Destinos Turisticos")'
          ><i class="fa fa-plane img" aria-hidden="true"></i>Destinos
          Turísticos</a
        >
      </li>
      <li  >
        <a routerLink="/admin/categorias"
          (click)= 'setTitle("Admin: Categorias de Destinos")'
          ><i class="fa fa-asterisk img" aria-hidden="true"></i>Categorías de
          Destinos</a
        >
      </li>
      <li  >
        <a routerLink="/admin/hoteles"
          (click)= 'setTitle("Admin: Hoteles")'
          ><i class="fa fa-bed img" aria-hidden="true"></i>Hoteles</a
        >
      </li>
      <li  >
        <a routerLink="/admin/habitaciones"
          (click)= 'setTitle("Admin: Tipos de Habitaciones")'
          ><i class="fa fa-suitcase img" aria-hidden="true"></i>Habitaciones</a
        >
      </li>
      <li>
        <a routerLink="/admin/actividades"
        (click)='setTitle("Admin: Actividades")'
        ><i class="fa fa-map-pin img" aria-hidden="true"></i>Actividades</a>
      </li>
      <li>
        <a routerLink="/admin/servicios"
        (click)='setTitle("Admin: Servicios")'
        ><i class="fa fa-asterisk img" aria-hidden="true"></i>Servicios</a>
      </li>
      <li  >
        <a routerLink="/admin/reservas"
        (click)='setTitle("Admin: Reservas")'
          ><i class="fa fa-check img" aria-hidden="true"></i>Reservas</a
        >
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->

  <nav id="content" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home"><i class="fa fa-user-o img" aria-hidden="true"></i>Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

<div [hidden] = "esconder">
<body>
  <div class = "tabla">
      <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
          <button mat-button mat-raised-button color="primary" (click)="randomize()" class="boton">Cambiar Forma</button>
      </div>
  </div>
  <div class="tabla">
      <div style="display: block">
          <canvas baseChart
            [data]="polarAreaChartData"
            [labels]="polarAreaChartLabels"
            [legend]="polarAreaLegend"
            [chartType]="polarAreaChartType">
          </canvas>
        </div>
  </div>
</body>
</div>
