<nav class="navbar navbar-default">  
    <div class="navbar-header row container-fluid">
      <a class="home" href="#">
          <img
          class="sizeHome"
          src="assets/icon/png/guacamaya.svg"
          />
          </a>
      <a class="active col-2 bord" routerLink="/destinos">
        <img
        class="size"
        src="assets/icon/png/destinos.png"
        />
        DESTINOS</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/hotel.png"
          />
          HOTELES</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/planea.png"
          />
          PLANEA TU VIAJE</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/itineario.png"
          />
          ITINERARIO</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/destinos.png"
          />
          CONTÁCTANOS</a>
    </div>
  
</nav>
