
a{
  z-index: 1000;
}

.navbar-header {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 3000px) {
  nav {
    border: none;
  }

  .navbar {
    width: 100%;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #fefced;
    text-align: center;
    padding: 0;
    
    position:absolute;
  }

  .navbar-header {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #fefced;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .size {
    width: 50px;
    margin-right: 10px;
  }

  .home {
    background: #002d51;
    height: 80px;
    padding-top: 5px;
    padding-left: 80px;
    padding-right: 70px;
  }

  .sizeHome {
    width: 56px;
    height: 72px;
    left: 44px;
    top: 8px;
  }

  .active {
    background: #fefced;
    color: #002d51;
    top: 0;
    height: 74px;
    padding-top: 15px;
    border-left-style: solid;
    border-color: rgb(158, 158, 158);
    border-width: thin;
  }

  .bord {
    border-left-style: none;
  }

  a:active {
    border-top-style: solid;
    border-left-style: none;
    border-color: #002d51;
    border-width: medium;
  }

  .col-2 {
    padding-right: 0;
    padding-left: 1px;
  }
}

@media screen and (max-width: 1237px) {
  nav {
    border: none;
  }

  .navbar {
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #fefced;
    text-align: center;
    padding: 0;
  }

  .navbar-header {
    height: 46px ;
    padding: 0;
  }

  a {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #fefced;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .size {
    width: 30px;
    margin-right: 10px;
  }

  .home {
    background: #002d51;
    height: 80px;
    padding-top: 2px;
    padding-left: 55px;
    padding-right: 45px;
  }

  .sizeHome {
    width: 36px;
    height: 62px;
    left: 44px;
    top: 5px;
  }

  .active {
    background: #fefced;
    color: #002d51;
    top: 0;
    height: 68px;
    padding-top: 15px;
    border-left-style: solid;
    border-color: rgb(158, 158, 158);
    border-width: thin;
  }

  .bord {
    border-left-style: none;
  }

  a:active {
    border-top-style: solid;
    border-left-style: none;
    border-color: #002d51;
    border-width: medium;
  }

  .col-2 {
    padding-right: 0;
    padding-left: 1px;
  }
}

@media screen and (max-width: 937px) {
  nav {
    border: none;
  }

  .navbar {
    width: 100%;
    height: 46px;
    left: 0px;
    top: 0px;
    background: #fefced;
    text-align: center;
    padding: 0;
  }

  .navbar-header {
    padding: 0;
  }

  a {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    color: #fefced;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .size {
    width: 20px;
    margin-right: 7px;
  }

  .home {
    background: #002d51;
    height: 52px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .sizeHome {
    width: 32px;
    height: 49px;
    left: 44px;
    top: 5px;
  }

  .active {
    background: #fefced;
    color: #002d51;
    top: 0;
    height: 52px;
    padding-top: 13px;
    border-left-style: solid;
    border-color: rgb(158, 158, 158);
    border-width: thin;
  }

  .bord {
    border-left-style: none;
  }

  a:active {
    border-top-style: solid;
    border-left-style: none;
    border-color: #002d51;
    border-width: medium;
  }

  .col-2 {
    padding-right: 0;
    padding-left: 1px;
  }
}

@media screen and (max-width: 561px) {
  nav {
    border: none;
  }

  .navbar {
    width: 100%;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #fefced;
    text-align: center;
    padding: 0;
  }

  .navbar-header {
    padding: 0;
  }

  a {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 14px;
    color: #fefced;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .size {
    display: none;
    width: 20px;
    margin-right: 7px;
  }

  .home {
    background: #002d51;
    height: 37px;
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 12px;
  }

  .sizeHome {
    width: 22px;
    height: 30px;
    left: 44px;
    top: 8px;
  }

  .active {
    background: #fefced;
    color: #002d51;
    top: 0;
    height: 37px;
    padding-top: 10px;
    border-left-style: solid;
    border-color: rgb(158, 158, 158);
    border-width: thin;
  }

  .bord {
    border-left-style: none;
  }

  a:active {
    border-top-style: solid;
    border-left-style: none;
    border-color: #002d51;
    border-width: medium;
  }

  .col-2 {
    padding-right: 0;
    padding-left: 1px;
  }
}
