
<div>
    <nav  class="sidebar">
        <a href="#"><i class="fa fa-fw fa-home fa-5x"></i>Home</a>
        <a href="#services"><i class="fa fa-fw fa-wrench"></i> Regiones</a>
        <a href="#clients"><i class="fa fa-fw fa-user"></i> Hoteles</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Itineario</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Reservas</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Acerca de nosotros</a>
    </nav>
</div>

