<nav class="navbar navbar-default">  
    <div class="navbar-header row container-fluid">
      <a class="home" href="#">
          <img
          class="sizeHome"
          src="assets/icon/png/guacamaya.svg"
          />
          </a>
      <a class="active col-2 bord" href="#">
        <img
        class="size"
        src="assets/icon/png/destinos.png"
        />
        DESTINOS</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/hotel.png"
          />
          HOTELES</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/planea.png"
          />
          PLANEA TU VIAJE</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/itineario.png"
          />
          ITINERARIO</a>
      <a class="active col-2" href="#">
          <img
          class="size"
          src="assets/icon/png/destinos.png"
          />
          CONTACTANOS</a>
    </div>
  
</nav>

<a
    ><img
      class="size"
      src="assets/icon/admin.jpg"
      alt="login"
      title="Login"
      (click)="openModal(login)"
  /></a>

<ng-template #login>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Admin Login</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Please enter the admin code</h6>
    <form class="login-form">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <mat-form-field class="login-full-width">
              <input
                matInput
                name="password"
                placeholder="Admin code"
                [formControl]="password"
                type="password"
              />
              <mat-error *ngIf="password.invalid"
                >{{ getErrorMessage() }}
              </mat-error>
            </mat-form-field>
            <span></span>
          </div>
          <div class="col-6 login-btn">
            <button
              type="button"
              class="btn btn-primary"
              (click)="signIn()"
              [disabled]="password.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
