<app-navbar></app-navbar>
<div class="body">
  <div class="container-fluid containe">
    <div class="">
      <img
        class="back"
        src="https://upload.wikimedia.org/wikipedia/commons/3/3b/LA_LAGUNA_VICTORIA.JPG"
      />
      <img class="mountains" src="./assets/img/mountains-svg.svg" />
      <h1 class="centered">DESTINOS</h1>
      <div class="select row">
        <mat-form-field class="col">
          <mat-label>Estado</mat-label>
          <mat-select
            [ngModel]="estado"
            (ngModelChange)="onChangeEstado($event)"
          >
            <mat-option *ngFor="let estado of estados" [value]="estado.id">
              {{ estado.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Ciudad</mat-label>
          <mat-select
            [ngModel]="ciudad"
            (ngModelChange)="onChangeCiudad($event)"
          >
            <mat-option
              *ngFor="let ciudad of filteredCiudades"
              [value]="ciudad.id"
            >
              {{ ciudad.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Categoría</mat-label>
          <mat-select
            [ngModel]="categoria"
            (ngModelChange)="onChangeCategoria($event)"
          >
            <mat-option
              *ngFor="let categoria of filteredCategorias"
              [value]="categoria.id"
            >
              {{ categoria.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button color="warn" (click)="filtrar()">
          FILTRAR
        </button>
      </div>
    </div>
  </div>

  <div class="fila container-fluid" *ngIf="filteredDestinos.length > 0">
    <h2>RESULTADOS</h2>

    <div class="row">
      <div class="col-6" *ngFor="let destino of filteredDestinos">
        <a routerLink="/destinos/{{ destino.id }}"
          ><img class="search-img" [src]="destino.imagen"
        /></a>
        <h6 class="title-result">{{ destino.nombre }}</h6>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
