div {
  background-color: #fbeace;
  padding: 0px;
}

img {
  width: 100%;
}

.back {
  position: absolute;
}

.mountains {
  position: absolute;
  margin-top: 30%;
}

.select {
  margin-top: 67%;
  margin-left: 29%;
}

.separador {
  margin-right: 10%;
}
