<body>

    <app-navbar></app-navbar>

    <div class="containe">
        <img src="../../../assets/img/mochima.png" alt="Mochima" class="header">
        <h1 class="centered">Hoteles</h1>
    </div>

    <div class="contenedor container-fluid">
        <div class="side">
            <p>RESERVACIONES</p>
            <div class="reservas">
                <p *ngFor="let reserva of reservas" class="reservaciones">
                    {{ reserva.ads }}
                </p>
            </div>
            <p>FILTROS</p>
            <div class="filtros">
                <form>
                    <div clas="form-group">
                        <div class="ec-stars-wrapper">
                            <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                            <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                            <a data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                            <a data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                            <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                        </div>
                        <div class="form-group form-check">
                            <div>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Aceptan mascotas</label>
                            </div>
                            <div>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Wifi gratis</label>
                            </div>
                            <div>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Piscina</label>
                            </div>    
                            <div>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Estacionamiento gratis</label>
                            </div>
                            <div>                            
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Desayuno incluido</label>
                            </div>
                            <div>                            
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Restaurantes</label>
                            </div>
                            <div>                            
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Spa</label>
                            </div>
                            <div>                            
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Traslado gratuito</label>
                            </div>
                                                    
                        </div>

                        <div class="seleccion">
                            <select class="custom-select" id="inlineFormCustomSelect">
                                <option selected>Precios</option>
                                <option value="1">Mayor a Menor precio</option>
                                <option value="2">Menor a Mayor precio</option>
                            </select>
                        </div>
                    </div>

                    <button id="buscar" class="btn btn-outline-secondary" color="warm">Buscar</button>

                </form>
                
            </div>

        </div>
        <div class="right">
            <form>
                <div class="contenedorBotones">
                    <div class="btn-group">
                            <button type="button" class="btn btn-danger" color="warn">DESTINOS</button>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" color="warn">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#" *ngFor="let destino of destinos"> {{destino.nombre}} </a>
                            </div>
                          </div>
                    <div class="btn-group"> 
                        <button type="button" class="btn btn-danger" color="warn">CANTIDAD DE PERSONAS</button>
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown2" aria-haspopup="true" aria-expanded="false" color="warn">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <p class="dropdown-item">1</p>
                        </div>
                    </div>
                    <mat-form-field>
                        <label class="labelBoton">Llegada</label>
                        <input matInput [matDatepicker]="myDatepicker" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <label class="labelBoton">Salida</label>
                        <input matInput [matDatepicker]="myDatepicker2">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker2></mat-datepicker>
                    </mat-form-field>
                
                </div>
            </form>
            <div *ngFor="let hotel of hoteles">
                <div class="contenido">
                    <div id="imagen" class="img">
                        
                        <img src= "{{ hotel.imagen }}" class="hotelImg" >
                    </div>
                    <div id="informacion" class="informacion">
                            
                        <div class="info">
                            <h3> {{hotel.nombre}} </h3>
                            <h5> {{hotel.direccion}} </h5><br>
                            <h6> Servicios: {{hotel.servicios}} </h6>
                        </div>
                        <div class="precio">
                            <h5>{{hotel.fullday.costo}}</h5>
                            
                            <button type="button" id="mas" routerLink="/hoteles/{{hotel.id}}" class="btn btn-danger" color="warn">VER MAS</button>
                        </div>
                    </div>                      
                </div>

            </div>  
        </div>
        
    </div>
    
</body>

<app-footer></app-footer>
