<body>

    <app-navbar></app-navbar>

    <div class="containe">
        <img src="../../../assets/img/mochima.png" alt="Mochima" class="header">
        <p class="centered">Hoteles</p>
    </div>

    <div class="contenedor container-fluid">
        <div class="side">
            <p>HOTELES RESERVADOS</p>
            <div class="reservas">
                <p>f</p>
                <p>f</p>
                <p>f</p>
                <p>f</p>
                <p>f</p>
                <p>f</p>
            </div>
            <p>FILTROS</p>
            <div class="filtros">
                <div class="ec-stars-wrapper">
                    <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>
            </div>

        </div>
        <div class="contenido">
            <div class="img">

            </div>
            <div class="info">

            </div>
        </div>
    </div>
    
</body>

<app-footer></app-footer>
