<app-navbar></app-navbar>

<div class="body" *ngIf="hotel">
    <div class="containe">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <ng-container *ngFor="let imagen of hotel.imagenes">
                    <div class="carousel-item active" *ngIf="imagen == hotel.imagenes[0]">
                        <img class="d-block w-100" [src]="imagen" alt="slide" />
                    </div>
                    <div class="carousel-item" *ngIf="imagen !== hotel.imagenes[0]">
                        <img class="d-block w-100" [src]="imagen" alt="slide" />
                    </div>
                </ng-container>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="contenedor container-fluid">
        <div class="center">
            <br />
            <h1>{{ hotel.nombre }}   </h1>
            <div *ngIf="hotel.estrellas === 5">
                    <div class="ec-stars-wrapper">
                        <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
            </div>
            <div *ngIf="hotel.estrellas === 4">
                    <div class="ec-stars-wrapper">
                        <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
            </div>
            <div *ngIf="hotel.estrellas === 3">
                    <div class="ec-stars-wrapper">
                        <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
            </div>
            <div *ngIf="hotel.estrellas === 2">
                    <div class="ec-stars-wrapper">
                        <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
            </div>
            <div *ngIf="hotel.estrellas === 1">
                    <div class="ec-stars-wrapper">
                        <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
            </div>

            <h3>{{ hotel.direccion }}</h3>
            <br />
            <h6 align="justify">{{ hotel.descripcion }}</h6>
            <br /><br /><br />

            

           
       <h2>Tipo de Habitaciones</h2>      
      <div class = "habitaciones">
        <div class="habitacion" *ngFor="let habitacion of habitaciones">
          <div class="cuarto">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <ng-container *ngFor="let imagen of habitacion.imagen">
                  <div
                    class="carousel-item active"
                    *ngIf="imagen == habitacion.imagen[0]"
                  >
                    <img
                      class="d-block w-100"
                      style="border-radius: 10px;"
                      [src]="imagen"
                      alt="slide"
                    />
                  </div>
                  <div
                    class="carousel-item"
                    *ngIf="imagen !== habitacion.imagen[0]"
                  >
                    <img
                      class="d-block w-100"
                      style="border-radius: 10px;"
                      [src]="imagen"
                      alt="slide"
                    />
                  </div>
                </ng-container>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="detalle">
            <h3>{{ habitacion.nombre }}</h3>
            <h6 class="descrip">{{ habitacion.descripcion }}</h6>
            <h6>
              Comodidades:
              <ng-container *ngFor="let comodidad of habitacion.comodidades">
                {{ comodidad }},</ng-container
              >
            </h6>
            <h6>Capacidad máxima: {{ habitacion.max }}</h6>
          </div>
        </div>
      </div>
      </div>      
      
        <div class="left">
            

            <div class="servicios">
                <p>UBICACIÓN</p>
                <p class="reservaciones">
                    <i class="fa fa-building-o" aria-hidden="true" style="font-size: 0.9em;"></i>Ciudad: {{ hotel.ciudad }}<br />
                    <i class="fa fa-map-pin" aria-hidden="true" style="font-size: 0.9em;"></i>Estado: {{ hotel.estado }}<br />
                    <i class="fa fa-location-arrow" aria-hidden="true" style="font-size: 0.9em;"></i>Coordenadas
                    geográficas: <br> <span class="text-center">{{ hotel.longitud }} {{ hotel.latitud }}</span><br>

                </p>
            </div>
            

            <div class="servicios">
                <p>SERVICIOS</p>
                <p *ngFor="let serv of hotel.servicios" class="reservaciones">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>{{ serv }}
                </p>
            </div>


            
        </div>

    </div>
</div>

<app-footer></app-footer>