body{
  background-color: #FBEACE;  
}
.slider {
  margin-top: 0px;
  margin-right: 10px;
  height: 500px;
}

.header{
  width: 100%;
  height: 75%;
}

.flor{
  position: absolute;
width: 352px;
height: 94px;
left: -20px;
top: 633px;
}
