<body>
    <app-navbar> </app-navbar>

    <div class="containe">
        <p class="centered1">GUACAMAYA <br></p><p class="centered2"> TOURS</p>        
        <img src="../../../assets/img/home.png" alt="Planea tu viaje">
        <button class="btn">PLANEA TU VIAJE AHORA</button>
    </div>

    <div class="">
        <img src="../../../assets/img/flores-arriba.svg" class="size title" >
      <p class="title">DESTINOS POPULARES</p>      
    </div>

    <div class="slider">
      <ng-image-slider [images]="imageObject" imageSize="{width: 400, height: 300, space: 4}" #nav></ng-image-slider>
    </div>

    <div class="">
      <img src="../../../assets/img/flores-arriba.svg" class="size title" >
      <p class="title">ACTIVIDADES</p> 
    </div>

    <div class="actividades">
        <div class="conteiner-fluid row">
          <div class="col-6">
              1
          </div>
          <div class="col-6">
            <div class="col-6">
              2
            </div>
            <div class="col-6">
              3
            </div>
            <div class="col-6">
              4
            </div>
            <div class="col-6">
              4
            </div>
          </div>
        </div>
    </div>

    <div>
        <img src="../../../assets/img/algo.svg" alt="Opciones" class="full">
    </div>

    <app-footer></app-footer>

</body>



