#infonombre{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#headnombre{
  text-align: center;
}
#headdescription{
  text-align: center;
}
.container-fluid{
  width: 80%;
  padding-left: 35%;
  padding-right: 0px;
  margin:0;

}
.btn{
    margin-bottom: 2%;
  }
.agregar{
  margin: 5%;
  padding-right: 20px;
  background-color: #43425D;
  color: #fff;
}
#form{
  margin-left: 30%;
  margin-right: 25%;
}
.highlight{
    background: lightblue;
  }
  .highlight2{
    background: lightgray;
  }
  .highlight3{
    background: lightblue;
  }
  .highlight4{
    background: white;
  }


