<app-dashboard></app-dashboard>
<div [hidden]="formVisibility" class="container-fluid col-12 text-center">
  <div class="btn-group col-12" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-secondary"
      name="button"
      (click)="openCrear()"
      >Nueva Ciudad
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      name="button"
      (click)="openCrear()"
      >Modificar Ciudad
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      name="button"
      (click)="habilitar()"
      >Habilitar Ciudad
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      ng-model="formVisibility"
      name="button"
      (click)="deshabilitar()"
      >Deshabilitar Ciudad
    </button>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
          <th scope="col">Imagen</th>
          <th scope="col">Imagen2</th>
          <th scope="col">Imagen3</th>
          <th scope="col">Vigencia</th>
        </tr>
      </thead>
      <tbody *ngFor="let dato of ciudades">
        <tr>
          <th scope="row">{{dato.nombre}}</th>
          <td>{{dato.estado}}</td>
          <td>{{dato.imagen}}</td>
          <td>{{dato.imagen2}}</td>
          <td>{{dato.imagen3}}</td>
          <td>{{dato.deshabilitar}}</td>
        </tr>
      </tbody>
    </table>

  </div>

<div [hidden]="!crearformVisibility" id="form">
  <form class="border border-light p-5" (ngSubmit)="newCategoria(newCategoriaForm.value)" [formGroup]="newCategoriaForm">
    <div class="text-center">
      <p class="h4 mb-4">Ingrese los Datos de la nueva Ciudad</p>

      <p>
        Coloque en la casilla correspondiente la información de la ciudad.
      </p>
    </div>

    <label for="Nombre">Nombre de la Ciudad</label>
    <input
      formControlName="nombre"
      type="text"
      id="Nombre"
      class="form-control mb-4"
      placeholder="Nombre del Estado"
      
    />
    <label for="Estado">ID del Estado donde se ubica la Ciudad</label>
    <input
      formControlName="estado"
      type="text"
      id="ID Estado"
      class="form-control mb-4"
      placeholder="Estado del Hotel"
      
    />

    <label for="costo">Fotos de la Ciudad</label>
      <input
        formControlName="imagen"
        type="text"
        id="fotos"
        class="form-control mb-4"
        placeholder="URL"
        
      />

      <label for="costo">Fotos de la Ciudad</label>
      <input
        formControlName="imagen2"
        type="text"
        id="fotos"
        class="form-control mb-4"
        placeholder="URL"
        
      />

      <label for="costo">Fotos de la Ciudad</label>
      <input
        formControlName="imagen3"
        type="text"
        id="fotos"
        class="form-control mb-4"
        placeholder="URL"
        
      />

      <label for="costo">Deshabilitar</label>
      <input
        formControlName="deshabilitar"
        type="text"
        id="fotos"
        class="form-control mb-4"
        placeholder="URL"
        
      />
    <button class="btn btn-info btn-block" (click)="crearCiudad()" type="submit">
      Crear
    </button>
    <button class="btn btn-info btn-block" (click)="close()" type="submit">Cancelar</button>
  </form>
</div>

<div [hidden]="!modificarformVisibility" id="form">
  <form class="border border-light p-5">
    <div class="text-center">
      <p class="h4 mb-4">Ingrese los Datos de la nueva Ciudad</p>

      <p>
        Coloque en la casilla correspondiente la información de la ciudad.
      </p>
    </div>

    <label for="ID">ID de la Ciudad</label>
    <input formControlName="id" type="text" id="ID" class="form-control mb-4" placeholder="ID"
       />
    <label for="Nombre">Nombre de la Ciudad</label>
    <input formControlName="nombre" type="text" id="Nombre" class="form-control mb-4" placeholder="Nombre del Estado"
       />
    <label for="Estado">ID del Estado donde se ubica la Ciudad</label>
    <input formControlName="estado" type="text" id="ID Estado" class="form-control mb-4"
      placeholder="Estado del Hotel"  />

    <label for="costo">Fotos de la Ciudad</label>
    <input formControlName="imagen" type="text" id="fotos" class="form-control mb-4" placeholder="URL"
       />


    <button class="btn btn-info btn-block" (click)="modificarCiudad()" type="submit">
      Crear
    </button>
    <button class="btn btn-info btn-block" (click)="close()" type="submit">Cancelar</button>
  </form>
</div>

