<app-dashboard></app-dashboard>
<div [hidden]="formVisibility" class="container-fluid col-12 text-center">
  <div class="btn-group col-12">
    <button
      class="btn agregar "
      ng-model="formVisibility"
      name="button"
      mat-button
      (click)="openCrear()"
      [hidden]="formVisibility"
      mat-flat-button
      color="primary"
    >
      Nuevo Hotel
    </button>

    <button
      class="btn agregar"
      ng-model="formVisibility"
      name="button"
      mat-button
      (click)="openCrear()"
      [hidden]="formVisibility"
      mat-flat-button
      color="primary"
    >
      Modificar Hotel
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Estrellas</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Estado</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Dirección</th>
        <th scope="col">Servicios</th>
        <th scope="col">Costo FullDay</th>
        <th scope="col">Activo FullDay</th>
        <th scope="col">Imagen</th>
        <th scope="col">Imagen2</th>
        <th scope="col">Imagen3</th>
        <th scope="col">Vigencia</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of hoteles">
      <tr>
        <th scope="row">{{dato.nombre}}</th>
        <td>{{dato.estrellas}}</td>
        <td>{{dato.ciudad}}</td>
        <td>{{dato.estado}}</td>
        <td>{{dato.latitud}}</td>
        <td>{{dato.longitud}}</td>
        <td>{{dato.direccion}}</td>
        <td>{{dato.servicios}}</td>
        <td>{{dato.costoFullday}}</td>
        <td>{{dato.activoFullday}}</td>
        <td>{{dato.imagen}}</td>
        <td>{{dato.imagen2}}</td>
        <td>{{dato.imagen3}}</td>
        <td>{{dato.deshabilitar}}</td>
      </tr>
    </tbody>
  </table>

</div>

<div [hidden]="!formVisibility" id="form">
  <form class="border border-light p-5">
    <div class="text-center">
      <p class="h4 mb-4">Ingrese los Datos del Nuevo Hotel</p>

      <p>
        Coloque en la casilla correspondiente la información del hotel nuevo.
      </p>
    </div>

    <label for="ID">ID del Hotel</label>
    <input
      [(ngModel)]="estrellas"
      type="text"
      id="ID"
      class="form-control mb-4"
      placeholder="ID"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Nombre">Nombre del Hotel</label>
    <input
      [(ngModel)]="nombre"
      type="text"
      id="Nombre"
      class="form-control mb-4"
      placeholder="Nombre del Hotel"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Estado">Estado donde se ubica el Hotel</label>
    <select
      [(ngModel)]="estado"
      [ngModelOptions]="{ standalone: true }"
      class="browser-default custom-select mb-4"
      id="Estado"
    >
      <option value="" disabled="" selected="">Elije el estado</option>
      <option *ngFor="let estado of estados.default" value="estado.id">{{
        estado.nombre
      }}</option>
    </select>
    <label for="Ciudad">Ciudad donde se ubica el Hotel</label>
    <select
      [(ngModel)]="Hotel.ciudad"
      [ngModelOptions]="{ standalone: true }"
      class="browser-default custom-select mb-4"
      id="Ciudad"
    >
      <option value="" disabled="" selected="">Elije la ciudad</option>
      <option *ngFor="let ciudad of ciudades.default" value="ciudad.id">{{
        ciudad.nombre
      }}</option>
    </select>
    <label for="Tipo">Número de estrellas que tiene el Hotel</label>
    <select
      [(ngModel)]="Hotel.estrellas"
      [ngModelOptions]="{ standalone: true }"
      class="browser-default custom-select mb-4"
      id="Estrellas"
    >
      <option value="" disabled="" selected=""
        >Elije la cantidad de estrellas</option
      >
      <option value="1">1 estrella</option>
      <option value="2">2 estrellas</option>
      <option value="3">3 estrellas</option>
      <option value="4">4 estrellas</option>
      <option value="5">5 estrellas</option>
    </select>
    <label for="Servicios">Servicios que ofrece el Hotel</label>
    <input
      [(ngModel)]="Hotel.servicios[0]"
      type="text"
      id="Servicios"
      class="form-control mb-4"
      placeholder="Servicios"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Actividades">Actividades disponibles en el Hotel</label>
    <input
      [(ngModel)]="Hotel.actividades[0]"
      type="text"
      id="Actividades"
      class="form-control mb-4"
      placeholder="Actividades"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Latitud">Latitud del Hotel</label>
    <input
      [(ngModel)]="Hotel.latitud"
      type="text"
      id="Latitud"
      class="form-control mb-4"
      placeholder="Latitud"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Longitud">Longitud del Hotel</label>
    <input
      [(ngModel)]="Hotel.longitud"
      type="text"
      id="Longitud"
      class="form-control mb-4"
      placeholder="Longitud"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Dirección">Dirección del Hotel</label>
    <input
      [(ngModel)]="Hotel.direccion"
      type="text"
      id="Dirección"
      class="form-control mb-4"
      placeholder="Dirección"
      [ngModelOptions]="{ standalone: true }"
    />

    <label for="fullday">¿Ofrece fullday?</label>
    <select
      [(ngModel)]="Hotel.fullDay.disponible"
      class="browser-default custom-select mb-4"
      id="Fullday"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="" disabled="" selected=""></option>
      <option value="true">Si</option>
      <option value="false">No</option>
    </select>

    <label for="costo">Costo del fullday por persona</label>
    <input
      [(ngModel)]="Hotel.fullDay.precioXPersona"
      type="text"
      id="costo"
      class="form-control mb-4"
      placeholder="Costo por persona"
      [ngModelOptions]="{ standalone: true }"
    />

    <label for="costo">Fotos del hotel</label>
    <input
      [(ngModel)]="Hotel.fotos[0]"
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
      [ngModelOptions]="{ standalone: true }"
    />

    <button class="btn btn-info btn-block" (click)="crearHotel()" type="submit">
      Crear Hotel
    </button>
  </form>
</div>
