#infonombre{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  #headnombre{
    text-align: center;
  }
  #headdescription{
    text-align: center;
  }
  .container-fluid{
    width: 80%;
    padding-left: 40%;
    margin:0;

  }
  .agregar{
    margin: 5%;
    padding-right: 108px;
    background-color: #43425D;
    color: #fff;
  }
  #form{
    margin-left: 30%;
    margin-right: 25%;
  }