<app-dashboard></app-dashboard>
<div [hidden]="formVisibility" class="container-fluid col-12 text-center">
  <div class="btn-group col-12" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" name="button" (click)="openCrear()">Nuevo Hotel
    </button>
    <button type="button" class="btn btn-outline-primary" name="button" (click)="openCrear()">Modificar Hotel
    </button>
    <button type="button" class="btn btn-outline-primary" name="button" (click)="habilitar()">Habilitar Destino
    </button>
    <button type="button" class="btn btn-outline-primary" name="button" (click)="deshabilitar()">Deshabilitar Destino
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Estrellas</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Estado</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Dirección</th>
        <th scope="col">Servicios</th>
        <th scope="col">Costo FullDay</th>
        <th scope="col">Activo FullDay</th>
        <th scope="col">Imagen</th>
        <th scope="col">Vigencia</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of hoteles">
      <tr
      [ngClass] = "{'highlight': selectedRowIndex == dato.id,
        'highlight2': dato.deshabilitar == false,
        'highlight3': selectedRowIndex == dato.nombre && dato.deshabilitar == false}"
        (click)="highlight(dato)">
        <th scope="row">{{dato.nombre}}</th>
        <td>{{dato.estrellas}}</td>
        <td>{{dato.idCiudad}}</td>
        <td>{{dato.idEstado}}</td>
        <td>{{dato.latitud}}</td>
        <td>{{dato.longitud}}</td>
        <td>{{dato.direccion}}</td>
        <td>{{dato.servicios}}</td>
        <td>{{dato.costoFullday}}</td>
        <td>{{dato.activoFullday}}</td>
        <td>{{dato.imagen}}</td>
        <td>{{dato.deshabilitar}}</td>
      </tr>
    </tbody>
  </table>

</div>

<div [hidden]="!formVisibility" id="form">
  <form class="border border-light p-5" (ngSubmit)="newHotel(newHotelForm.value)" [formGroup]="newHotelForm">
    <div class="text-center">
      <p class="h4 mb-4">Ingrese los Datos del Nuevo Hotel</p>

      <p>
        Coloque en la casilla correspondiente la información del hotel nuevo.
      </p>
    </div>

    <label for="Nombre">Nombre del Hotel</label>
    <input
      formControlName="nombre"
      type="text"
      id="Nombre"
      class="form-control mb-4"
      placeholder="Nombre del Hotel"
    />
    <label for="Estado">ID del Estado donde se ubica la Ciudad</label>
    <select class="form-control mb-4" formControlName="idEstado" id="item">
      <option>Seleccione un Estado</option>
      <option *ngFor="let estado of estados">{{estado.nombre}}</option>
    </select>

    <label for="Ciudad">Ciudad donde se ubica el Hotel</label>
    <select formControlName="idCiudad"
      class="form-control mb-4"
      id="Ciudad"
    >
      <option>Elije la ciudad</option>
      <option *ngFor="let ciudad of ciudades">{{ciudad.nombre}}</option>
    </select>

    <label for="Tipo">Número de estrellas que tiene el Hotel</label>
    <select
      formControlName="estrellas"
      class="form-control mb-4"
      id="Estrellas"
    >
      <option>Elije la cantidad de estrellas</option>
      <option value="1">1 estrella</option>
      <option value="2">2 estrellas</option>
      <option value="3">3 estrellas</option>
      <option value="4">4 estrellas</option>
      <option value="5">5 estrellas</option>
    </select>

    <label for="Servicios">Servicios que ofrece el Hotel</label>
    <input
      formControlName="servicios"
      type="text"
      id="Servicios"
      class="form-control mb-4"
      placeholder="Servicios"
    />
    <label for="Actividades">Actividades disponibles en el Hotel</label>
    <input
      formControlName="actividades"
      type="text"
      id="Actividades"
      class="form-control mb-4"
      placeholder="Actividades"
    />
    <label for="Latitud">Latitud del Hotel</label>
    <input
      formControlName="latitud"
      type="text"
      id="Latitud"
      class="form-control mb-4"
      placeholder="Latitud"
    />
    <label for="Longitud">Longitud del Hotel</label>
    <input
      formControlName="longitud"
      type="text"
      id="Longitud"
      class="form-control mb-4"
      placeholder="Longitud"
    />
    <label for="Dirección">Dirección del Hotel</label>
    <input
      formControlName="direccion"
      type="text"
      id="Dirección"
      class="form-control mb-4"
      placeholder="Dirección"
    />

    <div formGroupName="fullDay">
      <label for="fullday">¿Ofrece fullday?</label>
      <select formControlName="activo" class="form-control mb-4" id="Fullday">
        <option>Seleccione una Opcion</option>
        <option value=true>Si</option>
        <option value=false>No</option>
      </select>

      <label for="costo">Costo del fullday por persona</label>
      <input formControlName="costo" type="text" id="costo" class="form-control mb-4"
        placeholder="Costo por persona" />
    </div>

    <label for="costo">Fotos del hotel</label>
    <input
      formControlName="imagen"
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
    />

    <button class="btn btn-info btn-block" (click)="crearHotel()" type="submit">
      Crear Hotel
    </button>
    <button class="btn btn-info btn-block" (click)="close()">Cancelar</button>
  </form>
</div>
-->
