<app-dashboard></app-dashboard>

<div [hidden]="formVisibility" class="container-fluid col-12 text-center">
  <div class="btn-group col-12" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="openCrear()"
    >
      Nuevo Destino
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="openModificar()"
    >
      Modificar Destino
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="habilitar()"
    >
      Habilitar Destino
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="deshabilitar()"
    >
      Deshabilitar Destino
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="soltar()"
    >
      Quitar Seleccion
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Categorias</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Estado</th>
        <th scope="col">Descripción</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Dirección</th>
        <th scope="col">Actividades</th>
        <th scope="col">Servicios</th>
        <th scope="col">Imagen</th>
        <th scope="col">Vigencia</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of destinos">
      <tr
        [ngClass]="{
          highlight: selectedRowIndex == dato.id,
          highlight2: dato.deshabilitar == false,
          highlight3: selectedRowIndex == dato.id && dato.deshabilitar == false}"
        (click)="highlight(dato)"
      >
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.categorias }}</td>
        <td>{{ dato.idCiudad }}</td>
        <td>{{ dato.idEstado }}</td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.latitud }}</td>
        <td>{{ dato.longitud }}</td>
        <td>{{ dato.direccion }}</td>
        <td>{{ dato.actividades }}</td>
        <td>{{ dato.servicios }}</td>
        <td>{{ dato.imagen }}</td>
        <td>{{ dato.deshabilitar }}</td>
      </tr>
    </tbody>
  </table>
</div>

  <div [hidden]="!crearformVisibility" id="form">
    <form
      class="border border-light p-5"
      (ngSubmit)="newDestino(newDestinoForm.value)"
      [formGroup]="newDestinoForm"
    >
      <div class="text-center">
        <p class="h4 mb-4">Ingrese los Datos del Nuevo Destino</p>

        <p>
          Coloque en la casilla correspondiente la información del destino
          turistico seleccionado.
        </p>
      </div>
      <label for="Nombre">Nombre del Destino</label>
      <input
        type="text"
        id="Nombre"
        class="form-control mb-4"
        formControlName="nombre"
        placeholder="Nombre de Destino"
      />
      <label for="Estado">Estado donde se ubica el Destino</label>
      <select class="form-control mb-4" formControlName="idEstado" id="item">
        <option>Seleccione un Estado</option>
        <option *ngFor="let estado of estados">{{ estado.nombre }}</option>
      </select>

      <label for="Ciudad">Ciudad donde se ubica el Destino</label>
      <select formControlName="idCiudad" class="form-control mb-4" id="Ciudad">
        <option>Elije la ciudad</option>
        <option *ngFor="let ciudad of ciudades">{{ciudad.nombre}}</option>
      </select>

      <label for="Tipo">Tipo de destino</label>
      <select formControlName="categorias" class="form-control mb-4" id="Categorias">
        <option>Elije el tipo de Destino</option>
        <option *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
      </select>

      <label for="Servicios">Servicios del Destino</label>
      <input
        type="text"
        id="Servicios"
        class="form-control mb-4"
        formControlName="servicios"
        placeholder="Servicios del Destino"
      />
      <label for="Actividades">Actividades del Destino</label>
      <input
        type="text"
        id="Actividades"
        class="form-control mb-4"
        formControlName="actividades"
        placeholder="Actividades del Destino"
      />
      <label for="Latitud">Latitud del Destino</label>
      <input
        type="text"
        id="Latitud"
        class="form-control mb-4"
        formControlName="latitud"
        placeholder="Latitud"
      />
      <label for="Longitud">Longitud del Destino</label>
      <input
        type="text"
        id="Longitud"
        class="form-control mb-4"
        formControlName="longitud"
        placeholder="Longitud"
      />
      <label for="Dirección">Dirección del Destino</label>
      <input
        type="text"
        id="Dirección"
        class="form-control mb-4"
        formControlName="direccion"
        placeholder="Dirección"
      />
      <label for="Descripción">Descripción</label>
      <textarea
        id="Descripción"
        class="form-control mb-4"
        formControlName="descripcion"
        placeholder="Descripción del Destino"
      ></textarea>

      <button
        class="btn btn-info btn-block"
        (click)="crearDestino()"
        type="submit"
      >
        Crear
      </button>
      <button class="btn btn-info btn-block" (click)="close()">Cancelar</button>
    </form>

    <div [hidden]="!modificarformVisibility" id="form">
      <form
        class="border border-light p-5"
        (ngSubmit)="editDestino(newDestinoForm.value)"
        [formGroup]="newDestinoForm"
      >
        <div class="text-center">
          <p class="h4 mb-4">Ingrese los Datos del Nuevo Destino</p>

          <p>
            Coloque en la casilla correspondiente la información del destino
            turistico seleccionado.
          </p>
        </div>
        <label for="Nombre">Nombre del Destino</label>
        <input
          type="text"
          id="Nombre"
          class="form-control mb-4"
          formControlName="nombre"
          placeholder="Nombre de Destino"
        />
        <label for="Estado">Estado donde se ubica el Destino</label>
        <select class="form-control mb-4" formControlName="idEstado" id="item">
          <option>Seleccione un Estado</option>
          <option *ngFor="let estado of estados">{{ estado.nombre }}</option>
        </select>

        <label for="Ciudad">Ciudad donde se ubica el Destino</label>
        <select formControlName="idCiudad" class="form-control mb-4" id="Ciudad">
          <option>Elije la ciudad</option>
          <option *ngFor="let ciudad of ciudades">{{ciudad.nombre}}</option>
        </select>

        <label for="Tipo">Tipo de destino</label>
        <select formControlName="categorias" class="form-control mb-4" id="Categorias">
          <option>Elije el tipo de Destino</option>
          <option *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
        </select>
        <label for="Servicios">Servicios del Destino</label>
        <input
          type="text"
          id="Servicios"
          class="form-control mb-4"
          formControlName="servicios"
          placeholder="Servicios del Destino"
        />
        <label for="Actividades">Actividades del Destino</label>
        <input
          type="text"
          id="Actividades"
          class="form-control mb-4"
          formControlName="actividades"
          placeholder="Actividades del Destino"
        />
        <label for="Latitud">Latitud del Destino</label>
        <input
          type="text"
          id="Latitud"
          class="form-control mb-4"
          formControlName="latitud"
          placeholder="Latitud"
        />
        <label for="Longitud">Longitud del Destino</label>
        <input
          type="text"
          id="Longitud"
          class="form-control mb-4"
          formControlName="longitud"
          placeholder="Longitud"
        />
        <label for="Dirección">Dirección del Destino</label>
        <input
          type="text"
          id="Dirección"
          class="form-control mb-4"
          formControlName="direccion"
          placeholder="Dirección"
        />
        <label for="Descripción">Descripción</label>
        <textarea
          id="Descripción"
          class="form-control mb-4"
          formControlName="descripcion"
          placeholder="Descripción del Destino"
        ></textarea>

        <button
          class="btn btn-info btn-block"
          (click)="modificarDestino()"
        >
          Crear
        </button>
        <button class="btn btn-info btn-block" (click)="close()">Cancelar</button>
      </form>
</div>
