#infonombre {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#headnombre {
  text-align: center;
}
#headselect {
  text-align: left;
}
#headdescription {
  text-align: center;
}
.container {
  width: 70%;
  margin-left: 18%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 1%;
}
.boton {
  margin: 2% 0.5% 1% 35%;
}
.boton2 {
  margin: 2% 0.5% 1% 0.5%;
}
#form {
  margin-left: 30%;
  margin-right: 25%;
}
.highlight{
  background: lightblue;
}
.highlight2{
  background: lightgray;
}
.highlight3{
  background: lightblue;
}
