<app-navbar></app-navbar>
<div>
    <div class="header w3-display-container w3-text-white"> 
        <img src="../../../assets/img/juangriego.jpg" alt="Planea tu viaje" />
        <div class="w3-display-middle w3-large" style="font-family:'Oswald'"><h1>CONTÁCTANOS</h1></div>
    </div>
   
    <h1 class="historia">Nuestra historia</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p align="justify">Guacamaya Tours es el operador turístico líder en Venezuela con más años de experiencia en el mercado.

                    Fundada por la familia Outeda, se inicia Viajes y Turismo Outeda dandose a conocer en Venezuela por su mística y compromiso en la atención del pasajero.  
                    Años mas tarde cambia el nombre a Aleduar Travel  incorporando al negocio a los hijos del Señor Outeda, Alejandro y Eduardo Outeda, quienes inician operaciones con la cadena Barceló en República Dominicana y otros destinos, posicionándose como la empresa líder del turismo en Venezuela. 
                    
                    Hoy Guacamaya Tours cuenta con 22 oficinas en Venezuela y sucursales en  Estados Unidos y República Dominicana, además de alianzas estratégicas en todo el mundo. Promoviendo el turismo en Venezuela como meta principal. </p>
        </div>
        <div class="col-md-6">
            <p align="justify">
                    Somos aliados de Barceló Hoteles, RIU, Bahía Príncipe, Hard Rock, Palace Hotels y muchos mas en Venezuela. También somos aliados de Laser Airlines y Alamo Rent a Car en todo el territorio nacional.

                    Como empresa dedicada  a la promoción de servicios turísticos a nivel internacional, Guacamaya Tours es líder en ventas en el Caribe.
                    
                    Brindamos asesoría en viajes de placer, corporativos, eventos deportivos y musicales, todo en función de promover el turismo en Venezuela.
                    
                    Nuestra trayectoria nos define; compromiso, gestión, servicio, responsabilidad y confianza.
                    
                    Nuestro equipo de profesionales ofrece un servicio personalizado de primer nivel.
                    
                     
            </p>
        </div>
    </div>

    <h1 class="historia">Misión y Visión</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p align="justify">Nuestra vision es ser la Compañía líder de Servicios Turísticos, reconocida por la calidad de sus productos, trayectoria y el éxito de satisfacer competitivamente a Clientes y Aliados.</p>
            </div>
        <div class="col-md-6">
            <p align="justify">Nuestra misión es ser una organización de servicios turísticos, conformada por un equipo de personas profesionales dispuestas a satisfacer y conceder el placer de viajar a nuestros Clientes.</p>
        
            

        </div>
    </div>

    <h1 class="historia">Información de contacto </h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
                <p align="justify">
                        <i class="fa fa-building-o" aria-hidden="true" style="font-size: 0.9em;"></i>   Teléfono: 0212-9433094 <br />
                        <i class="fa fa-map-pin" aria-hidden="true" style="font-size: 0.9em;"></i>    Correo: guacamayatours@gmail.com <br />
                        <i class="fa fa-twitter" aria-hidden="true" style="font-size: 0.9em;"></i>   Twitter: @GuacaTours <br>
                        <i class="fa fa-instagram" aria-hidden="true" style="font-size: 0.9em;"></i>   Instagram: @GuacamayaTours_ <br>
                        <i class="fa fa-facebook" aria-hidden="true" style="font-size: 0.9em;"></i>   Facebook: Guacamaya Tours C.A. <br>
                           
                </p>
        </div>
        
    </div>
</div>
<app-footer></app-footer>
