.color{
    background-color: rgb(253, 253, 253);
    height: 50%;
    width: 100%;
}

.size{
    height: 20%;
    width: 100%;
}

.sizeH{      
    width: 100%;    
}

.search{
    padding-left: 89%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}

