<app-dashboard></app-dashboard>
<div [hidden]="formVisibility" class="container col-12 text-center">
    <button
      class="boton2"
      ng-model="formVisibility"
      name="button"
      mat-button
      (click)="openCrear()"
      [hidden]="formVisibility"
      mat-flat-button
      color="primary"
    >
      Agregar
    </button>

<button
  class="boton2"
  ng-model="formVisibility"
  name="button"
  mat-button
  (click)="openModificar()"
  [hidden]="formVisibility"
  mat-flat-button
  color="primary"
>
  Modificar
</button>
<button class="boton2"
  ng-model="formVisibility"
  name="button"
  mat-button
  (click)="habilitar()"
  [hidden]="formVisibility"
  mat-flat-button
  color="primary"
  >
  Habilitar
</button>
<button class="boton2"
  ng-model="formVisibility"
  name="button"
  mat-button
  (click)="deshabilitar()"
  [hidden]="formVisibility"
  mat-flat-button color="primary"
>
  Deshabilitar
</button>





  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Imagen2</th>
        <th scope="col">Imagen3</th>
        <th scope="col">Vigencia</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of estados">
      <tr>
        <th scope="row">{{dato.nombre}}</th>
        <td>{{dato.imagen}}</td>
        <td>{{dato.imagen2}}</td>
        <td>{{dato.imagen3}}</td>
        <td>{{dato.deshabilitar}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div [hidden]="!formVisibility" id="form" class="col-12"
>
  <form class="border border-light p-5" form (ngSubmit)="newEstado(newEstadoForm.value)" [formGroup] = "newEstadoForm">
    <div class="text-center">
      <p class="h4 mb-4">Ingrese Datos del Estado</p>

      <p>Coloque en la casilla correspondiente la información del Estado.</p>
    </div>
    <label for="ID">ID del Estado</label>
    <input
      type="text"
      id="ID"
      class="form-control mb-4"
      placeholder="ID"
      formControlName = "id"
    />
    <label for="Nombre">Nombre del Estado</label>
    <input
      type="text"
      id="Nombre"
      class="form-control mb-4"
      placeholder="Nombre del Estado"
      formControlName = "nombre"
    />

    <label for="fotos">Fotos del estado</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
      formControlName = "imagen"
    />

    <label for="fotos">Fotos del estado</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
      formControlName = "imagen2"
    />

    <label for="fotos">Fotos del estado</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
      formControlName = "imagen3"
    />

    <label for="fotos">Deshabilitar</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
      formControlName = "deshabilitar"
    />

    <button
      class="btn btn-info btn-block"
      (click)="crearEstado()"
      type="submit"
    >
      Agregar Estado
    </button>
  </form>
</div>
