#infonombre{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  #headnombre{
    text-align: center;
  }
  #headdescription{
    text-align: center;
  }
  .container{
    width: 80%;
    padding-left: 40%;
    margin:0;

  }
  .agregar{
    margin: 5%;
    padding-right: 20px;
    background-color: #43425D;
    color: #fff;
  }
  #form{
    margin-left: 30%;
    margin-right: 25%;
    width: 55%;
  }

  .table{
    padding-top: 15px;
    padding-right: 0;
    margin:0px;
    padding-left:55px;
  }

