<app-dashboard></app-dashboard>

<div [hidden]="formVisibility" class="container-fluid col-12 text-center">
    <div class="btn-group col-12" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary" name="button" (click)="openCrear()">Nuevo Estado
      </button>
      <button type="button" class="btn btn-outline-primary" name="button" (click)="openModificar()">Modificar Estado
      </button>
      <button type="button" class="btn btn-outline-primary" name="button" (click)="habilitar()">Habilitar Estado
      </button>
      <button type="button" class="btn btn-outline-primary" name="button" (click)="deshabilitar()">Deshabilitar Estado
      </button>
      <button type="button" class="btn btn-outline-primary" name="button" (click)="soltar()">Quitar Seleccion
      </button>
    </div>

  <table class="table" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Vigencia</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of estados">
      <tr
      [ngClass] = "{'highlight': selectedRowIndex == dato.id,
        'highlight2': dato.deshabilitar == false,
        'highlight3': selectedRowIndex == dato.id && dato.deshabilitar == false}"
        (click)="highlight(dato)">
        <td>{{dato.nombre}}</td>
        <td>{{dato.imagen}}</td>
        <td>{{dato.deshabilitar}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div [hidden]="!formVisibility" id="form">
  <form class="border border-light p-5" form (ngSubmit)="newEstado(newEstadoForm.value)" [formGroup] = "newEstadoForm">
    <div class="text-center">
      <p class="h4 mb-4">Ingrese Datos del Estado</p>

      <p>Coloque en la casilla correspondiente la información del Estado.</p>
    </div>
    <label for="Nombre">Nombre del Estado</label>
    <input
      type="text"
      id="Nombre"
      class="form-control mb-4"
      placeholder="Nombre del Estado"
      formControlName = "nombre"
    />

    <label for="fotos">Fotos del estado</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
      formControlName = "imagen"
    />

    <button
      class="btn btn-info btn-block"
      (click)="crearEstado()"
      type="submit"
    >
      Agregar Estado
    </button>
    <button class="btn btn-info btn-block" (click)="close()">Cancelar</button>
  </form>
</div>
