<app-dashboard></app-dashboard>

<div [hidden]="formVisibility" class="container-fluid col-12 text-center">
  <div class="btn-group col-12" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="openCrear()"
    >
      Nueva Habitacion
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="openCrear()"
    >
      Modificar Habitacion
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="habilitar()"
    >
      Habilitar Habitacion
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="deshabilitar()"
    >
      Deshabilitar Habitacion
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      name="button"
      (click)="soltar()"
    >
      Quitar Seleccion
    </button>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Comodidades</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Max.Personas</th>
        <th scope="col">Vista</th>
        <th scope="col">Vigencia</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of tipoHabitaciones">
      <tr
        [ngClass]="{
          highlight: selectedRowIndex == dato.id,
          highlight2: dato.deshabilitar == true,
          highlight3: selectedRowIndex == dato.id && dato.deshabilitar == true
        }"
        (click)="highlight(dato)"
      >
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.imagen }}</td>
        <td>{{ dato.comodidades }}</td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.max }}</td>
        <td>{{ dato.vista }}</td>
        <td>{{ dato.deshabilitar }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div [hidden]="!crearformVisibility" id="form">
  <form
    class="border border-light p-5"
    [formGroup]="newHabitacionForm"
    (ngSubmit)="newHabitacion(newHabitacionForm.value)"
  >
    <div class="text-center">
      <p class="h4 mb-4">Ingrese los Datos de la nueva Habitación</p>

      <p>
        Coloque en la casilla correspondiente la información de la habitación.
      </p>
    </div>

    <label for="Nombre">Nombre de la habitación</label>
    <input
      type="text"
      id="Nombre"
      class="form-control mb-4"
      placeholder="Nombre de la habitación"
      formControlName="nombre"
    />

    <label for="costo">Fotos de la habitación</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="URL"
      formControlName="imagen"
    />

    <label for="costo">Cantidad Maxima de Personas</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="Max Personas"
      formControlName="max"
    />

    <label for="costo">Descripcion</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="Descripcion"
      formControlName="descripcion"
    />

    <label for="costo">Comodidades</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="Comodidades"
      formControlName="comodidades"
    />

    <label for="costo">Vista</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="Vista"
      formControlName="vista"
    />

    <label for="costo">Descripcion</label>
    <input
      type="text"
      id="fotos"
      class="form-control mb-4"
      placeholder="Descripcion"
      formControlName="descripcion"
    />

    <button
      class="btn btn-info btn-block"
      (click)="crearHabitacion()"
      type="submit"
    >
      Crear Habitación
    </button>
    <button class="btn btn-info btn-block" (click)="close()">Cancelar</button>
  </form>
</div>
<!--
    <div [hidden]="!modificarformVisibility" id="form">
      <form class = "border border-light p-5" form (ngSubmit) = "editHabitacion(newHabitacionForm.value)" [formGroup] = "newHabitacionForm">
        <div class = "text-center">
          <p class = "h4 mb-4">Modifique los Datos de la Habitacion</p>

          <p>
            Coloque en la casilla correspondiente la información de la Habitacion.
          </p>
        </div>

        <label for="costo">Fotos de la Habitacion</label>
      <input type="text" id="fotos" class="form-control mb-4" placeholder="URL" formControlName="imagen" />

      <label for="costo">Cantidad Maxima de Personas</label>
      <input type="text" id="fotos" class="form-control mb-4" placeholder="Max Personas" formControlName="max" />

      <label for="costo">Descripcion</label>
      <input type="text" id="fotos" class="form-control mb-4" placeholder="Descripcion" formControlName="descripcion" />

      <label for="costo">Comodidades</label>
      <input type="text" id="fotos" class="form-control mb-4" placeholder="Comodidades" formControlName="comodidades" />

      <label for="costo">Vista</label>
      <input type="text" id="fotos" class="form-control mb-4" placeholder="Vista" formControlName="vista" />

      <label for="costo">Descripcion</label>
      <input type="text" id="fotos" class="form-control mb-4" placeholder="Descripcion" formControlName="descripcion" />


        <button class="btn btn-info btn-block" (click)="modificarHabitacion()">Modificar Habitacion</button>
        <button class="btn btn-info btn-block" (click)="close()" >Cancelar</button>
      </form>
    </div> -->
