.hotel{
    padding:0px;
    margin :20px 0px 20px 55px; 
    box-sizing: border-box;
}

.img{
    width: 100%;
}

@media screen and (min-width:769px){

    .container-fluid{
        padding-left: 15%;
    }
  }

  @media screen and (max-width:769px) and (min-width:576px){

    .container-fluid{
        padding-left: 25%;
    }
  }

  @media screen and (max-width:576px) {

    .container-fluid{
        padding-left: 25%;
    }
    .img{
        width: 65%;
    }
  }

  .info{
      margin: 0.5px;
      padding-left: 0.5px;
  }