<app-dashboard></app-dashboard>
<div [hidden]="formVisibility" class="container-fluid col-12 text-center">
    <div class="btn-group col-12" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary" name="button" (click)="openCrear()">Nueva Categoria
      </button>
      <button type="button" class="btn btn-outline-primary" name="button" (click)="openModificar()">Modificar Categoria
      </button>
      <button type="button" class="btn btn-outline-primary" name="button" (click)="habilitar()">Habilitar Categoria
      </button>
      <button type="button" class="btn btn-outline-primary" name="button" (click)="deshabilitar()">Deshabilitar Categoria
      </button>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Vigencia</th>
        </tr>
      </thead>
      <tbody *ngFor="let dato of categorias">
        <tr
        [ngClass] = "{'highlight': selectedRowIndex == dato.id,
        'highlight2': dato.deshabilitar == false,
        'highlight3': selectedRowIndex == dato.nombre && dato.deshabilitar == false}"
        (click)="highlight(dato)"
        >
          <td>{{dato.nombre}}</td>
          <td>{{dato.deshabilitar}}</td>
        </tr>
      </tbody>
    </table>

  </div>

 <div [hidden]="!crearformVisibility" id="form">
    <form class="border border-light p-5" [formGroup]="newCategoriaForm" (ngSubmit)="newCategoria(newCategoriaForm.value)">
      <div class="text-center">
        <p class="h4 mb-4">Ingrese los Datos de la nueva Categoría</p>

        <p>
          Coloque en la casilla correspondiente la información de la categoría.
        </p>
      </div>

      <label for="Nombre">Nombre de la Categoría</label>
      <input
        type="text"
        id="Nombre"
        class="form-control mb-4"
        placeholder="Nombre de la categoría"
        formControlName="nombre"
      />

      <label for="costo">Fotos de la categoría</label>
      <input
        type="text"
        id="fotos"
        class="form-control mb-4"
        placeholder="URL"
        formControlName="imagen"
      />

      <label for="costo">Fotos de la categoría</label>
      <input
        type="text"
        id="fotos"
        class="form-control mb-4"
        placeholder="URL"
        formControlName="imagen2"
      />

      <label for="costo">Fotos de la categoría</label>
      <input
        type="text"
        id="fotos"
        class="form-control mb-4"
        placeholder="URL"
        formControlName="imagen3"
      />


      <button class="btn btn-info btn-block" (click)="crearCategoria()" type="submit">Crear Categoría</button>
      <button class="btn btn-info btn-block" (click)="close()">Cancelar</button>
    </form>
  </div>


  <div [hidden]="!modificarformVisibility" id="form">
    <form class = "border border-light p-5" (ngSubmit) = "newCategoria(newCategoriaForm.value)" [formGroup] = "newCategoriaForm">
      <div class = "text-center">
        <p class = "h4 mb-4">Modifique los Datos de la Categoría</p>

        <p>
          Coloque en la casilla correspondiente la información de la categoría.
        </p>
      </div>

      <label for="Nombre">Nombre de la Categoría</label>
      <input formControlName="nombre" type="text" id="Nombre" class="form-control mb-4" placeholder="categorias[tr.id].nombre" />

      <label for="costo">Foto 1 de la categoría</label>
      <input formControlName="imagen" type="text" id="fotos" class="form-control mb-4" placeholder="categorias[row.id.nombre]"
         />
      <label for="costo">Foto 2 de la categoría</label>
      <input formControlName="imagen2" type="text" id="fotos" class="form-control mb-4" placeholder="categorias[row.id.nombre]"
         />
      <label for="costo">Foto 3 de la categoría</label>
      <input formControlName="imagen3" type="text" id="fotos" class="form-control mb-4" placeholder="categorias[row.id.nombre]"
         />


      <button class="btn btn-info btn-block" (click)="modificarCategoria()" type="submit">Crear Categoría</button>
      <button class="btn btn-info btn-block" (click)="close()" >Cancelar</button>
    </form>
  </div>
