  #infonombre{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  #headnombre{
    text-align: center;
  }
  #headdescription{
    text-align: center;
  }

  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  table {
    font-size: x-small;
    padding-top: 10%;
  }
  .btn-group{
    margin-bottom: 2%;
  }
  .container-fluid{
    width: 100%;
    padding-top: 10%;
    padding-left: 40%;
    padding-right: 15%;
    margin:0;
    margin-right: 10%;
    text-align: center;
  }
  .agregar{
    margin: 5%;
    padding-right: 20px;
    background-color: #43425D;
    color: #fff;
  }
  #form{
    margin-left: 40%;
    margin-right: 15%;
    padding-top: 10%;
  }
  .highlight{
    background: lightblue;
  }
  .highlight2{
    background: lightgray;
  }
  .highlight3{
    background: lightblue;
  }
  .highlight4{
    background: white;
  }
