.body{
    font-family: Oswald;
    color: #002D51;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.containe{
    background-color: #002D51 ;
    margin:0;
    padding: 0;
    padding-top:2%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
}