.body{
    margin-top: 8%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.titulo{
    margin-bottom: 4%;
    margin-left: 5.5%;
    size: 85%;
    text-align: left;
    font-family: Oswald;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.pagar{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.left{
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    width: 60%;
    height: auto;
    background-color:  rgb(235, 234, 232);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.derecha{
    width: 35%;
    height: auto;
    max-height: 170px;
    background-color: #FBEACE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 1%;
    padding-right: 1%;
}

.datos{
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.formulario{
    width: 60%;
    height: auto;
    background-color: rgb(235, 234, 232);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3%;
    
}

.ancho{
    width: 60%;
}

input{
    margin-right: 15px;
}

button{
    margin-top: 7%;

}

h5{
    margin-left: 3%;
}

@media screen and (max-width: 800px){
    .titulo{
        text-align: center;
        margin-left: 0;
        margin-top: 4.9%;
        
    }
    .pagar{
        display: flex;
        flex-flow: column wrap;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }

    .left{
        padding-top: 3%;
        padding-left: 3%;
        padding-bottom: 3%;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        background-color:  rgb(235, 234, 232);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .derecha{
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-height: 170px;
        margin-bottom: 5%;
        padding-bottom: 3%;
    }

    .formulario{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 600px){
    .titulo{
        font-size: 170%;
    }
}

@media screen and (max-width: 450px){
    .titulo{
        font-size: 120%;
    }
}